:root {
    --primary-orange: #FFAD7F;
    --secondary-orange: #FFC580;
    --accent: #7FD1FF;
    --dark-text: black;
    --light-text: white;
    --border: #EAD8CC;

}

/*Typography // Base*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-orange);
    color: var(--dark-text);
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

main {
    flex: 1;
}

h1, h2, h3 {
    font-family: 'PT-Serif', sans-serif;
    line-height: 1.25;
    margin: 0 0 .5rem;
}

p, .hero, .aboutp {
    max-width: 65ch;
}

.wrap {
    width: min(1100px, 94%);
    margin-inline: auto;
}

section {
    padding: 3rem 0;
}

/*Header*/

.site-header {
    padding: 1rem 0;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.logo {
    width: 48px;
    height: auto;
    border-radius: 8px;
}

.site-header h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 1;
}

hr {
    border: none;
    background-color: var(--border);
    height: 2px;
    width: 100%;
    z-index: 10;
}


/*Navigation*/
.site-nav {
    background: var(--secondary-orange);
    border-block: 1px solid var(--dark-text);
}

.site-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: .75rem 1rem;
}

.site-nav li {
    display: inline;
}
.site-nav a {
    text-decoration: none;
    font-weight: 600;
    color: var(--dark-text);
    padding: .50rem .5rem;
    border-radius: 6px;
}

.site-nav a:hover {
    background: rgb(0, 0, 0, 0.2);
}

.site-nav a:active {
    background-color: var(--primary-orange);
}
/*About Section*/


/*Skills*/


/*Contact and Submit btn*/


/*Project*/

.projects {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr;
}
.projects-title {
    text-align: center;
    padding: 1rem;
}

.projects > section {
    background: var(--accent);
    border: 1px solid var(--dark-text);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}

.projects img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: .75rem;
}

@media (min-width: 720px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*Footer*/